<div class="auth-container">
    <div class="auth-card glass-panel auth-card-wide">
        <h2 class="auth-title auth-title-margin">Create your Profile</h2>
        <p class="auth-subtitle">Complete your information
            before
            starting</p>

        <form [formGroup]="onboardingForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label>Your Role</label>
                <select formControlName="role" class="form-input form-select">
                    <option value="User">Normal User</option>
                    <option value="Artist">Artist (I can upload music)</option>
                </select>
            </div>

            <div class="form-group">
                <label>Avatar / Profile Picture</label>

                <div class="avatar-upload-area" (click)="triggerFileInput()">
                    <div class="avatar-preview" *ngIf="previewImage">
                        <img [src]="previewImage" alt="Avatar Preview" class="avatar-preview-img">
                    </div>
                    <div class="avatar-placeholder" *ngIf="!previewImage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="17 8 12 3 7 8"></polyline>
                            <line x1="12" y1="3" x2="12" y2="15"></line>
                        </svg>
                        <p>Click to upload a file, <b>paste with Ctrl+V</b> or enter a URL below.</p>
                    </div>
                </div>

                <input type="file" id="avatarUpload" accept="image/*" (change)="onFileSelected($event)"
                    class="file-input-hide">

                <input type="text" formControlName="avatarUrl" (input)="onUrlChange($event)"
                    class="form-input url-input" placeholder="Or if you prefer, paste a direct image link...">
            </div>

            <div class="form-group">
                <label>Biography (Optional)</label>
                <textarea formControlName="bio" class="form-input bio-textarea"
                    placeholder="Tell us a little bit about yourself or your music..." rows="3"></textarea>
            </div>

            <p class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>

            <button type="submit" class="btn btn-primary submit-btn"
                [disabled]="onboardingForm.invalid || isSubmitting">
                {{ isSubmitting ? 'Saving...' : 'Complete and Enter' }}
            </button>
        </form>
    </div>
</div>